<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
  </startup>
  <system.serviceModel>
    <services>
      <service behaviorConfiguration="Calculator" name="User.Defined.SimpleService.HelloService">
        <host>
          <baseAddresses>
            <add baseAddress="http://127.0.0.1:8888/HelloService/"/>
          </baseAddresses>
        </host>
        <endpoint address="" binding="basicHttpBinding" contract="User.Defined.Interface.IIHelloService" />
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="Calculator">
          <serviceMetadata httpGetEnabled="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>
